/* ----------------------general--------------------- */
.flex-center {
   display: flex;
   justify-content: center;
   align-items: center;
}

.flex {
   display: flex;
   align-items: center;
}

.flex-between {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

/*----------------------text-decoration----------------------*/
.line-through {
   text-decoration: line-through;
}

/*----------------------text-align----------------------*/

.text-center {
   text-align: center
}
 
/*----------------------font-weight----------------------*/

.fw-400 {
   font-weight: 400;
}

.fw-500 {
   font-weight: 500;
}

.fw-600 {
   font-weight: 600;
}

.fw-700 {
   font-weight: 700;
}

.fw-800 {
   font-weight: 800;
}

.fw-900 {
   font-weight: 900;
}

 /*----------------------font-size----------------------*/

.size-10 {
   font-size: 10px;
}

.size-11 {
   font-size: 11px;
}

.size-12 {
   font-size: 12px;
}

.size-13 {
   font-size: 13px;
}

.size-14 {
   font-size: 14px;
}

/*----------------------color----------------------*/


/*----------------------spacing----------------------*/
.m-0 {
   margin: 0;
}

.mt-10 {
   margin-top: 10px;
}

.mt-15 {
   margin-top: 15px;
}


.mb-5 {
   margin-bottom: 5px;
}

.mb-10 {
   margin-bottom: 10px;
}

.ml-5 {
   margin-left: 5px;
}

.ml-7 {
   margin-left: 7px;
}

/*----------------------text-overflow----------------------*/
.text-2line {
   -webkit-box-orient: vertical;
   display: -webkit-box;
   -webkit-line-clamp: 2;
   overflow: hidden;
   text-overflow: ellipsis;
}